html, body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;
    }

body {
    display: table-cell;
    background-image: url("./images/background.jpg");
    vertical-align: middle;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

h3 {
    color: white;
}

.row {
    margin: 10px;
}

.img-fluid {
    width: 30px;
    height: 30px;
}

